<a href="https://colab.research.google.com/github/YuvrajThoriya/python-programs/blob/main/Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
#hello world
print('Hello World!!')

#simple operations
print(2+3)
print(2-1)
print(2*3)
print(4//2)

#operation with lines
print('Sum = ',2+3)
print('Sub = ',2-1)
print('Mul = ',2*3)
print('Div = ',4//2)

#operation with variables
a=5
b=6

print('Sum = ',a+b)
print('Sub = ',a-b)
print('Mul = ',a*b)
print('Div = ',a//b)

# / format line
print(12,end='/')
print(13,end='/')
print(14)


print('Subject 1',end='/')
print('Subject 2',end='/')
print('Subject 3',end='/')
print('Subject 4')

#for pattern
print('* * *')
print('*   *')
print('* * *')

print('    222    ')
print('  2     2  ')
print('2         2')
print('2         2')
print('  2     2  ')
print('    222    ')

#integer division
print(7//3)
print(7%3)
print(2//3)
print(1//2)
#Marwadi(ICT) 
print(9//13)
print(3/2)
print(71/2)

a='ICT'
b='Yuvraj_yannick'
c='Marwadi'
print('My department name is '+a)
print('My depaertment name is '+a,'My name is '+b)
print('My university is '+c,'My department name is '+a,'My name is '+b)

#power multiplication
print(2**1,end='/')
print(2**2,end='/')
print(2**3,end='/')
print(2**4,end='/')
print(2**5,end='/')
print(2**6,end='/')
print(2**7,end='/')
print(2**8,end='/')
print(2**9,end='/')
print(2**10)

Hello World!!
5
1
6
2
Sum =  5
Sub =  1
Mul =  6
Div =  2
Sum =  11
Sub =  -1
Mul =  30
Div =  0
12/13/14
Subject 1/Subject 2/Subject 3/Subject 4
* * *
*   *
* * *
    222
  2     2
2         2
2         2
  2     2
    222
2
1
0
0
0
1.5
35.5
My department name is ICT
My depaertment name is ICT My name is Yuvraj_yannick
My university is Marwadi My department name is ICT My name is Yuvraj_yannick
2/4/8/16/32/64/128/256/512/1024